@tailwind base;
@tailwind components;
@tailwind utilities;
:root, 
.light-mode{
  --bg-primary: #f1f5f9;
  --bg-secondary: white;

  --text-primary: black;
  --text-secondary: #9da3af;

  --success: #39ff14;
  --accent-gold: #D1AC79;
  --primary: #007a8a;
  --primary-20: rgba(0, 122, 138, 0.2);

  --success: #34d399;       /* Brighter green */
  --warning: #fbbf24;       /* Brighter amber */
  --danger: #f87171;        /* Brighter red */
}
.dark {
  --bg-primary: #0a0f1a;
  --bg-secondary: #161d2b;  

  --text-primary: white;
  --text-secondary: #9da3af;

  --success: #39ff14;
  --accent-gold: #D1AC79;
  --primary: #00f5d4;
  --primary-20: rgba(0, 245, 212,0.2);

  --success: #34d399;       /* Brighter green */
  --warning: #fbbf24;       /* Brighter amber */
  --danger: #f87171;        /* Brighter red */
}
html, body, #root {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar{
  display: none;
  visibility: hidden;
}
.hide-scrollbar{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;   /* Firefox */
}

@layer utilities {
  @keyframes ripple {
    0% {
      transform: scale(0);
      opacity: 0.6;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  .animate-ripple {
    animation: ripple 0.6s ease-out forwards;
  }
}
